.emptyCartImg{
    width: 70%; 
    position: relative;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.2;
}

.emptyText{
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    opacity: 0.8;
    color: gray;
    font-size: 90%;

}

.checkoutItems{
    position: relative;
    height: 50px;
    bottom: 5%;
    margin-right: 5%;

}
.checkoutItems:hover{
    position: relative;
    height: 50px;
    cursor: pointer;
}



.cartTitle{
    padding: 10px;
    font-size: 120%;
}

.cartRestaurantName{
    font-size: 90%;
    padding: 10px;
}

.checkOut{
    background-color: rgb(218, 31, 31);
    //height: 50px;
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1px;
    padding-right: 10px;
    width: 90%;
    margin-left: 2.5%;
    color: white;
    text-decoration: none

}

.checkOut2{
    text-decoration: none;
}

.filler{
    height: 50%;
}

.clearCart{
    background-color: rgb(218, 31, 31);
    margin: 10px;
    padding: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 1px;
    color: white;
    width: 90%;
    z-index: 99997;
    position:absolute;
    top: 90%;
    margin-right: 5%;
    width: 22.5%;
    margin-left: 0.625%;


    //height: 50px;
      
}

.totalCost{
    float:right;
    //padding: 10px;
}

.itemsInCart{
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 20px;
}

.edit-delete:hover{
    cursor: pointer;
    opacity: 0.6;
}

.individualCost{
    float: right;
    vertical-align: middle;
    align-items: center;
}

.numberofItems{
    float: right;
    margin-top: 7px;
    color: white;
    background-color: rgb(81, 207, 216);
    height: 25px;
    //width: 30px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    font-size: 80%;
    align-content: center;
    border-radius: 10px;
    display: block;
    font-size: 110%;
    border-radius: 2px;


        
    
}

.shoppingCart{
    text-align: center;
    align-items: center;
    color: white;

}

.textincart{
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 50px;
}


.header-button{

    margin-top: 6px;
    border-radius: 5px;
    outline: none;
    height: 30px;
    float: left;
    box-sizing: border-box;
    padding: 7px;
    border: 0px;
    margin-left: 10px;
    text-align: center;
    font-size: 80%;
    text-decoration: none;


    
}

.header-button2{
    margin-top: 6px;
    border-radius: 5px;
    outline: none;
    height: 30px;
    float: left;
    box-sizing: border-box;
    padding: 7px;
    border: 0px;
    margin-left: 10px;
    text-align: center;
    font-size: 80%;
    text-decoration: none;
   
}

.itemCartName{
    width: 70%;
    float: left;
    padding-bottom: 5px;
    max-lines: 1;
    //margin-bottom: 5px;
}

.individualCost{
    float: right;
    width: 30%;
}

@media screen and (max-width: 1100px){
    .clearCart{
        width: 36%;
    }
}