.cafes-title{
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    font-size: 130%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;

}


.save-container:hover{
    cursor: pointer;
    opacity: 0.6;
}

.restaurant-heart{
    color: red;
}




.located-near{
    font-size: 80%;
    color: gray;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: -10px;
}

.saved-restaurants{
    width: 70%;
    margin-left: 15%;
    // display: flex;
    // flex-wrap: wrap;
    // margin-bottom: 200px;
}

.homePageContainer{
    min-width: 900px;
}

.outerDiv{
    min-width: 900px;
}

.numberofItems:hover{
    opacity: 0.7;
}

.innerContainerList2{
    height:200px;
    width:100%;
    color: black;
    padding: 10px;
    z-index: 1002;
    // padding-left: 3%;
    // padding-right: 3%;
    background-color: white;
    margin-top: 1px;
    list-style: none;
}



.close-tag{
    margin-top: -5px;

}

.cafe-tags{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15px;
    width: 95%;
    height: 50px;
    align-self: center;
    align-items: center;
    align-content: center;
    position: relative;
    
}

.tags{
    padding: 5px;
    font-size: 90%;
    color: gray;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}
.bs-star-rating{
    float: left;
}
.distance-container{
    width: 170px;
    height: 50px;

    float: left;
    align-items: center;
    align-self: center;
    position: relative;
    text-align: center;
    padding-top: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}


.distance-container2{
    width: 170px;
    height: 50px;
    float: left;
    align-items: center;
    align-self: center;
    position: relative;
    text-align: center;
    padding-top: 15px;
    border: 1px solid lightgray;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -1px;



}

.star-list-container{
    float: right;
    margin-right: 5px;
    margin-top: 30px;
}

.star-list-container2{
    float: right;
    margin-right: 5px;
    margin-top: 30px;
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.star-list-container3{
    float: right;
    margin-right: 15px;
    margin-top: 33px;
    font-size: 80%;
    
}

.save-container{
    float: right;
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px; 
    z-index: 50;
    height: 22px;
}




.restaurant-save{
    float: left;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}

.restaurant-heart{
    float: left;

}

.distance-container3{
    width: 170px;
    height: 50px;
    float: left;
    align-items: center;
    align-self: center;
    position: relative;
    text-align: center;
    padding-top: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.mins{
    font-weight: bold;
    color: black;
}

.walk{
    font-size: 90%;
}

.divider-line{
    width: 1px;
    height: 100%;
    color: gray;
    z-index: 20000;
}

.inner-box{

    position: relative;
    align-items: center;
    align-self: center;


    text-align: center;
    display: flex;
    flex-wrap: wrap;
    

    
}



.section-container{

    align-items: center;
    height: 60px;
    align-content: center;
    align-self: center;
    display: table;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;

    
}

.grayMiddle{
    width: 100%; 
    height: 5px;
    background-color: rgb(237, 237, 237);
}

.coffee-container{
    float: left;
    align-items: center;
    align-self: center;
    margin-left: 35px;
    margin-right: 35px;
    
    
    
    
}

.coffee-background{
    background-color: rgb(220, 225, 226);
    border-radius: 40% 60% 40% 60%;

    
    
}
.tea-background{
    background-color: rgb(220, 225, 226);
    border-radius: 40% 60% 40% 60%;
    
    
}

.bbt-background{
    background-color: rgb(220, 225, 226);
    border-radius: 40% 60% 40% 60%;
    
    
}

.alcohol-background{
    background-color: rgb(220, 225, 226);
    border-radius: 40% 60% 40% 60%;
    
    
}

.cake-background{
    background-color: rgb(220, 225, 226);
    border-radius: 40% 60% 40% 60%;
    
    
}

.coffee-text{
    text-align: center;
    font-size: 85%;
    margin-top: 5px;


}

.tea-container{
    float: left;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    

    
}

.tea-text{
    text-align: center;
    margin-top: 5px;
    font-size: 85%;
    margin-top: 5px;


}

.bbt-container{
    float: left;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    
    
}

.bbt-text{
    text-align: center;
    margin-top: 5px;
    font-size: 85%;
    margin-top: 5px;


}

.cake-container{
    float: left;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    
    
}

.cake-text{
    text-align: center;
    margin-top: 5px;
    font-size: 85%;
    margin-top: 5px;


}

.alcohol-container{
    float: left;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;

    
}

.alcohol-text{
    text-align: center;
    margin-top: 5px;
    font-size: 85%;
    margin-top: 5px;


}

.alcohol{
    height: 45px;
    width: 45px;
    margin-left: 5px;

 
    

}
.coffee{
    height: 45px;
    width: 45px;

 
    

}

.coffee:hover{
    transform:rotate(-25deg);
    transition-duration:0.5s;
}

.tea{
    height: 45px;
    width: 45px;
     
    
}

.tea:hover{
    transform:rotate(-25deg);
    transition-duration:0.5s;
    
}

.bbt{
    height: 45px;
    width: 45px;
     
    
}

.bbt:hover{
    transform:rotate(-25deg);
    transition-duration:0.5s;
}

.alcohol:hover{
    transform:rotate(-25deg);
    transition-duration:0.5s;
}

.cake{
    height: 45px;
    width: 45px;
     
    
}

.cake:hover{
    transform:rotate(-25deg);
    transition-duration:0.5s;
}


.restaurant-container{
    width:100%;
    align-items: middle;
    top: 0%;
    overflow-y: hidden;
    height: 100%;
background-color: white;
    //position: absolute;

}

.restaurantInfoContainer{
    //background-color: pink;
    width: 75%;
    height: 100%;
    float: left;
    
    height: 95vh; 
    overflow-y: scroll;
    z-index: 0;

  
}

.root{
    overflow-y: hidden;
    width: 100vw;
}

.restaurantMenuContainer{
    width: 25%;
    height: 95vh;
    float: right;
    overflow-y: hidden;
}

.restaurant-and-menu-container{

    top: 50px; 
    //background-color: red;
    width: 100%;
    //height: 1000px;
    border: 1px;
    border-color: gray;
    overflow-y: hidden
}

.restaurant-header-img{
    width: 95%;
    position: relative;
    top: 2%; left: 50%;
    transform: translate(-50%);
    object-fit: cover;
    max-height: 300px;
    border-radius: 15px;
    margin-top: 20px;

}

.restaurant-name{
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-height: 100px;
    font-size: 220%;
    font-weight: bold;
    margin-top: 50px;

}

.topLineRestaurant{
    position: relative;
    top: 5%; 
    width: 100%;
    height: 1px;
    color: lightgray;
}

.restaurant-description{
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-height: 100px;
    font-size: 100%;
    margin-top: 10px;
    color: gray;
    display: flex;
    flex-wrap: wrap;

}

.restaurant-address{
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-height: 100px;
    font-size: 100%;
    margin-top: 20px;
    color: gray;
    float: left;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.flex-1{
    float: left;
    color: gray;
}

.flex-rating-word{
    float: left;
    color: rgb(33, 114, 120);
    font-weight: bold;
    
}

.flex-star{
    float: left;
    color: rgb(33, 114, 120);
    margin-left: 2px;
}

.flex-star-bold{
    float: left;
    color: rgb(33, 114, 120);
    margin-left: 4px;
    font-weight: bold;
}

.flex-rating{
    float: left;
    margin-left: 5px;
}

.flex-2{
    float: left;
    margin-left: 5px;
}

.distance{
    float: right;
    margin-right: 3px;
    color: gray;
    font-size: 100%;

}

.walking-man{
    float: right;
    margin-right: 6%;
    color: gray;
}

.bottomLine{
    width: 95%;
    height: 1px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: lightgray;
    margin-top: 20px;

}

.restaurantMenu{
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-height: 100px;
    font-size: 100%;
    margin-top: 20px;
    color: gray;
    margin-top: 100px;

}

.menuSections{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    //max-height: 50px;
    overflow-x: scroll;
    padding-left: 0px;
}

.sectionItem{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    padding-top: 0px;
}

.bottomLineRestaurant{
    position: relative;
    width: 100%;
    height: 1px;
    color: lightgray;
}

.menuItems{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    //max-height: 50px;
    margin-top: 50px;
    
    padding-left: 5%;
    z-index: 0;
}

.menuItem{
    float: left;
    padding-left: 10px;
    //padding-right: 10px;
    list-style-type: none;
    width: 44%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    height: 130px;
    border: 1px solid;
    border-color: rgba(211, 211, 211, 0.582);
    font-size: 100%;
    z-index: 1000;
    display: block;
    z-index: 1000;
    border-radius: 5px;
    //position: relative;
}

.menuItem:hover{
    border: 1px solid rgba(128, 128, 128, 0.575);
    box-shadow: 0px 0px 20px gray;
    color: black;
}

.menuItemRight{
    height: 100%;
    width: 130px;
    object-fit: cover;
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 100%;
    z-index: 1000;
    
}

.menuItemLeft{
    float: left;
    width: 60%;
    padding-top: 10px;
    z-index: 1000;
    color: gray;
    
}

.sectionItems{
    list-style-type: none;
    font-size: 100%;
    font-weight: normal;
    color: black;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 1000;
    position: relative;
}

.sectionTitle{
    list-style-type: none;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    display: block;
    z-index: 1000;
    margin-top: 30px;
}


.section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.623);
    margin-top: 30px;
    //background-color: gray;
    //position: relative;
    z-index: 1000;
}

.evenMenuItem{
    float: left;
    padding-left: 10px;
    //padding-right: 10px;
    list-style-type: none;
    width: 46%;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    height: 130px;
    
    font-size: 100%;
    z-index: 1000;
    display: block;
    z-index: 1000;
    border: 1px solid;
    border-color: rgba(211, 211, 211, 0);
    //position: relative;
}

.evenMenuItemLeft{
    float: left;
    width: 60%;
    padding-top: 10px;
    z-index: 1000;
}

.break{
    width:100%;
    height: 20px;
    //background-color: gray;
    position: relative;
    float: left;
}

.menuItemDescription{
    font-size: 84%;
    height: 40px;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 3%;
    white-space: nowrap;

}

.bottom-div{
    width: 100%;
    margin-top: 150px;
    height: 300px;

    text-align: center;
}

.restaurant-page-box{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    z-index: 50;
}



.restaurant-page-left-half{
    width: 50%;
}

.restaurant-page-right-half{
    width: 50%;
    float: right;
}

.ratings-wrapper-bottom{
    float: right;
    margin-left: 20px;
}

@media screen and (max-width: 1100px){
    .menuItem{
        width: 90%;
    }

    .star-list-container3{
        margin-top: 5px;
        margin-left: 5px;
    }

    .restaurant-page-right-half{
        float: left;
        width: 100%;
        padding: 0%;
    }

    .save-container{
        margin: 0%;
        margin-top: 40px;
    }


    .star-list-container{
        margin: 0%;
    }

    .star-list-container2{
        margin: 0%;
    }

    .save-wrapper{
        float: left;
        margin: 0%;
    }

    .ratings-wrapper-bottom{
        float: left;
        margin: 0%;
        padding-bottom: 50%;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-top: 45px;
        margin-right: 10px;

    }

    .restaurantMenu{
        margin-top: 200px;
    }

    .restaurantMenuContainer{
        width: 40%;
        
    }

    .restaurantInfoContainer{
        width: 59%;
    }

    .restaurant-address{
        width: 90%;
        margin-left: 5%;
    }

    .save-wrapper{
        width: 100%;
    }

    .restaurant-page-box{
        width: 95%;
    }

    .right-save-wrapper{
        width: 95%;
    }
}

@media screen and (max-width: 900px){
    .element-splash-img{
        width: 90%;
    }
    .ready-in{
        float: left;
        width: 100%; 
    }

    .walking-man{
        float: left;
    }

    .distance{
        float: left;
    }
}




